@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title:</h2>


<address>
    Grzegorz Grabowski<br />
    grzegorzgrabowski@gazeta.pl<br />
    <abbr title="Phone">Telefon:</abbr>
    +48 509 289 722
</address>

